rect {
    opacity: 0.5;
    width: 20;
    height: 20;
}
.cell {
    width: 10px;
    height: 15px;
}
svg {
    cursor: pointer;
}
.white {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
}

/*button:hover {
    background-color: black;
}*/
.black {
    background-color: black;
    border: 1px solid black;
}
.red {
    background-color: #ff3860;
    border: none;
}

.empty {
    fill: aliceblue;
}
.wall {
    fill: black;
}
.selected {
    fill: cyan;
}
.path {
    fill: red;
}
.heightOfPage {
    min-height : 100vh;
}
button {
    width: 5px;
}